.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inputBar {
    position: absolute;
    bottom: 0;
    left: 0;
}



.toggleEngine {
    display: inline-block;
    width: 168px;
    height: 168px;
    border: 7px solid;
    border-radius: 50%;
    animation: none;
    animation-timing-function: none;
    box-shadow: 0px 0px 0px 0px #59bddb36;
    background-color: #232325;
    color: rgb(211, 211, 211);
    border-color:  #414141;
}

.loggedin_palbtn{
    animation: breath 4s infinite;
    animation-timing-function: linear;
    box-shadow: 0px 0px 0px 10px #59bddb36;
    background-color: #59bddb36;
    color: rgb(211, 211, 211);
    border-color:  #59bcdb;
}

@keyframes breath {
    0% {
        box-shadow: 0px 0px 0px 15px #59bddb36;
      }
    50% {
        box-shadow: 0px 0px 0px 10px #59bddb36;
      }    

    100% {
        box-shadow: 0px 0px 0px 15px #59bddb36;
      }    
}

.menu {
    -webkit-app-region: no-drag;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.menuContainer {
    display: flex;
    float: left;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: flex-start;
    background-color: #111;
    flex-grow: 1;
}

.menuItemsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    background-color: #111;
    flex-grow: 1;
}

.menuItemsContainer div {
    padding: 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menuItemsContainer div:hover {
    color: #f1f1f1;
}

.menuTitle {
    border: 1px solid #111;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: #232325;
}

.audioBtn {
    background-color: yellowgreen;
    border-radius: 50%;
    height: 28px;
    width: 28px;
}

.PopUpPage {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #000000b7;
}

.PopUpTitle {
    text-align: center;
    padding: 8px;
}

.PopUpRow {
    padding: 8px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: max-content;
    height: max-content;
    background-color: #232325;
    z-index: 3;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.747);
    transition: 0.3s;
}

.onlineArea {
    align-self: end;
}

#online-tag {
    width:16px;
    height: 16px;
    background-color: #818181;
    border-radius: 50%;
    float: right;
}