body {
  background-color: #232325;
}

.block {
  display: inline-block;
  width: 100%;
}

.mainContainer {
  /*background-color: #232325;*/
  text-align: center;
}

.topNavbar {
  -webkit-app-region: drag;
}

.toggleEngine {
  display: inline-block;
  background-color: #232325;
  width: 168px;
  height: 168px;
  color: rgb(211, 211, 211);
  border: 7px solid #59bcdb;
  border-radius: 50%;
}

button:focus {
  outline: none !important;
}

.settingsBtn {
  float: left;
  height: 24px;
  width: 24px;
}

.closeBtn {
  float: right;
  height: 24px;
  width: 24px;
}
